.cabecalho{
          background-color: red;
          color: black;
          text-align: center;
          margin: 0 auto;
          max-width: 800px;
}

.principal{
     background-color: black;
     color: mediumaquamarine;
}